<div class="container pt-5">
  <div class="row pb-2">
    <div class="col-12">
      <h1 class="text-center" color="accent"><button mat-raised-button color="accent" class="textP">Contacto</button></h1>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-4 mb-3">      
          <div class="cardL">
              <div class="card">
                  <div class="card-body align-self-center">
                      <h4 class="card-title text-center">
                      <mat-icon>home</mat-icon> Base
                    </h4>
                  </div>
                  <img src="../assets/base.png" alt="Card image" class="img-fluid">
                  <div class="card-body align-self-center">
                    <p class="card-text buttonS">
                        <button mat-raised-button color="accent" matTooltip="Ciudad Autonoma de Buenos Aires">Buenos Aires - Argentina</button>
                    </p>
                  </div>
                </div>
          </div>
      </div>
      <div class="col-lg-4 mb-3">      
          <div class="cardL">
              <div class="card">
                  <div class="card-body align-self-center">
                      <h4 class="card-title text-center">
                          <mat-icon>mail</mat-icon> Mail
                      </h4>
                  </div>
                  <img src="../assets/mail.png" alt="Card image" class="img-fluid">
                  <div class="card-body align-self-center">
                    <p class="card-text buttonS">
                        <a aria-label="blogspot" matTooltip="Open" href="mailto:Venezia.dev@gmail.com" target="_blank" mat-raised-button color="primary">Venezia.dev@gmail.com</a>
                    </p>
                  </div>
                </div>
          </div>
      </div>
            <div class="col-lg-4 mb-3">      
          <div class="cardL">
              <div class="card">
                  <div class="card-body align-self-center">
                    <h4 class="card-title text-center">
                     <mat-icon>public</mat-icon> Red:
                    </h4>
                  </div>
                  <img src="../assets/rsocial.png" alt="Card image" class="img-fluid">
                  <div class="card-body align-self-center">
                    <p class="card-text buttonS">
                      <a class="pl-1" aria-label="github" matTooltip="@lea_venezia" href="https://www.instagram.com/lea_venezia/" target="_blank"><img src="../../../assets/img/instax30.png"></a> 
                      <a class="pl-1" aria-label="github" matTooltip="Venezia-dev" href="https://github.com/exevenezia" target="_blank"><img src="../../../assets/img/githubx30.png"></a>
                      <!--<a class="pl-1" aria-label="github" matTooltip="Open" href="https://github.com/exevenezia" target="_blank"><img src="../../../assets/img/lnx30.png"></a>--> 
                    </p>
                  </div>
                </div>
          </div>
      </div>
  </div>
  <div class="row p-4"></div>
</div>
