<div class="container pt-5">
  <div class="row">
    <div class="col-lg-4">
      <mat-card class="port-card">
              <img mat-card-image class="btn btn-secondary" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" (click)="ngxSmartModalService.getModal('myModal1').open()">

              <mat-card-actions>
                <a href="index.html"><img src="../../../assets/img/heart.png"></a>
                <button mat-button><img class="img-fluid" src="../../../assets/img/angular.png"><img class="img-fluid" src="../../../assets/img/bootstrap.png"><img class="img-fluid" src="../../../assets/img/nodejs.png"></button>
              </mat-card-actions>
              <mat-card-header>
                <mat-card-title>WhatDay <span class="badge badge-light">2019</span></mat-card-title>
              <mat-card-subtitle>
                  <a href="index.html" class="url" mat-raised-button color="primary">www.whatday.is</a>
              </mat-card-subtitle>
              </mat-card-header>
      </mat-card>
    </div>
    <div class="col-lg-4">
        <mat-card class="port-card">
                <img mat-card-image class="btn btn-secondary" src="../../../assets/image1.jpg" alt="Photo of a Shiba Inu" (click)="ngxSmartModalService.getModal('myModal2').open()">
  
                <mat-card-actions>
                  <a href="index.html"><img src="../../../assets/img/heart.png"></a>
                  <button mat-button><img class="img-fluid" src="../../../assets/img/angular.png"><img class="img-fluid" src="../../../assets/img/bootstrap.png"><img class="img-fluid" src="../../../assets/img/nodejs.png"></button>
                </mat-card-actions>
                <mat-card-header>
                  <mat-card-title>WhatDay <span class="badge badge-light">2019</span></mat-card-title>
                <mat-card-subtitle>
                    <a href="index.html" class="url" mat-raised-button color="primary">www.whatday.is</a>
                </mat-card-subtitle>
                </mat-card-header>
        </mat-card>
      </div>
      <div class="col-lg-4">
          <mat-card class="port-card">
                  <img mat-card-image class="btn btn-secondary" src="../../../assets/image3-thumb.jpg" alt="Photo of a Shiba Inu" (click)="ngxSmartModalService.getModal('myModal3').open()">
    
                  <mat-card-actions>
                    <a href="index.html"><img src="../../../assets/img/heart.png"></a>
                    <button mat-button><img class="img-fluid" src="../../../assets/img/angular.png"><img class="img-fluid" src="../../../assets/img/bootstrap.png"><img class="img-fluid" src="../../../assets/img/nodejs.png"></button>
                  </mat-card-actions>
                  <mat-card-header>
                    <mat-card-title>WhatDay <span class="badge badge-light">2019</span></mat-card-title>
                  <mat-card-subtitle>
                      <a href="index.html" class="url" mat-raised-button color="primary">www.whatday.is</a>
                  </mat-card-subtitle>
                  </mat-card-header>
          </mat-card>
        </div>
</div>


<!--<img mat-card-image class="btn btn-secondary" src="../../../assets/image3-thumb.jpg" alt="Photo of a Shiba Inu" (click)="ngxSmartModalService.getModal('myModal3').open()">-->



<ngx-smart-modal #myModal identifier="myModal1">
    <h1>Title</h1>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
</ngx-smart-modal>
<ngx-smart-modal #myModal identifier="myModal2">
    <h1>Title</h1>
    <img mat-card-image src="../../../assets/image1.jpg" alt="Photo of a Shiba Inu">
</ngx-smart-modal>
<ngx-smart-modal #myModal identifier="myModal3">
    <h1>Title</h1>
    <img mat-card-image src="../../../assets/image3-thumb.jpg" alt="Photo of a Shiba Inu">
</ngx-smart-modal>