.cardL {
    background-color: #3f51b5;
    border: 2px outset #3f51b5;
    border-radius: 1rem;
    padding: 5px;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
}

.card {
    height: 340px;
    border: 2px outset #fff;
    border-radius: 1rem;   
}

.imgL {
    border: 2px outset #3f51b5;
    border-radius: 1rem;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
}

.card .img-fluid {
    border: 2px outset #3f51b5;
}

.card-body {
    padding: 0.5rem;
}

.row {
    padding-top: 0.8rem;
}

.mat-button {
    min-width: 1px;
    padding: 0px;
}

.textP {
    font-size: 2rem;
    padding: 1rem;
}

::ng-deep .pack-modal-custom{
    min-width: 100% !important;
    max-width: 100% !important;
    background-color: #3f51b5 !important;
   }