.cardL {
    background-color: #3f51b5;
    border: 2px outset #3f51b5;
    border-radius: 1rem;
    padding: 5px;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
}

.card {
    height: 340px;
    border: 2px outset #723c82;
    border-radius: 1rem;   
}

.card .img-fluid {
    border: 2px outset #723c82;
}

.card-body {
    padding: 0.9rem;
}

.row {
    padding-top: 0.8rem;
}




/*.port-card{
    max-width: 400px;
}

.mat-card {
    background-color: #446451;
}

.mat-card-image:first-child{
    margin-top: -35px;
}
.mat-card-image {
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0%;
}
.mat-card-avatar {
    width: 150px;
    background-size: cover;
  }

.mat-card-title{
    color: #000;
    margin-bottom: 0px;
}
.mat-card-subtitle{
    color: #022445;
    margin-bottom: 0px;
    font-size: 1.2rem;
}
.mat-card-subtitle a {
    color: #fff;
}
.mat-card-subtitle a:link {
    text-decoration:none; 
}
.mat-card-actions {
    padding-bottom: 1px;
    margin: 0px 16px;
}
*/