<div class="container pt-3">
  <div class="row">
    <div class="col-lg-4 mb-3">      
      <div class="cardL">
          <div class="card">
              <div class="card-body align-self-center">
                  <h4 class="card-title text-center">
                  Hola Soy Leandro de Buenos Aires - Argentina
                </h4>
              </div>
              <img src="../assets/img/fotoperfill.png" alt="Card image" class="img-fluid">
              <div class="card-body align-self-center">
                <p class="card-text">
                    <button mat-raised-button color="primary" matTooltip="Web Developer">Desarrollador WEB</button>
                    <button mat-raised-button color="accent" matTooltip="MongoDB - ExpressJS - Angular - NodeJS">FULL MEAN</button>
                  </p>
              </div>
            </div>
      </div>
    </div>
    <div *xs class="separateT">
      <button mat-raised-button color="accent" (click)="scroll(sk)">MAS</button>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="cardL" #sk>
            <div class="card">
              <div class="card-body">
                  <h4 class="card-title text-center pb-3" >Habilidades</h4>
                      <button mat-raised-button color="primary">FRONTEND</button>
                      <div class="p-2">
                        <button mat-button matTooltip="HTML5" aria-label="button html"><img src="../../../assets/img/htmlx30.png"></button>
                        <button mat-button matTooltip="CSS3" aria-label="button CSS3"><img src="../../../assets/img/cssx30.png"></button>
                        <button mat-button matTooltip="JavaScript" aria-label="button JS"><img src="../../../assets/img/jsx30.png"></button>
                        <button mat-button matTooltip="Bootstrap" aria-label="button Bootstrap"><img src="../../../assets/img/bootstrapx30.png"></button>
                        <button mat-button matTooltip="Angular" aria-label="button Angular"><img src="../../../assets/img/angularx30.png"></button>
                      </div>
                      <button mat-raised-button color="accent">BACKEND</button>
                      <div class="p-2">
                        <button mat-button matTooltip="NodeJS" aria-label="button NodeJS"><img src="../../../assets/img/nodejsx30.png"></button>
                        <button mat-button matTooltip="ExpressJS" aria-label="button ExpressJS"><img src="../../../assets/img/expressx30.png"></button>
                        <button mat-button matTooltip="MySQL" aria-label="button MySQL"><img src="../../../assets/img/mysqlx30.png"></button>
                        <button mat-button matTooltip="MongooDB" aria-label="button MongoDB"><img src="../../../assets/img/mongodbx30.png"></button>
                      </div>
                      <button mat-raised-button color="primary">INTERES</button>
                      <div class="p-2">
                        <button mat-button matTooltip="Python" aria-label="button Python"><img src="../../../assets/img/pythonx30.png"></button>
                        <button mat-button matTooltip="Django" aria-label="button Django"><img src="../../../assets/img/djangox30.png"></button>
                        <button mat-button matTooltip="Dart" aria-label="button Dart"><img src="../../../assets/img/dartx30.png"></button>
                        <button mat-button matTooltip="Flutter" aria-label="button Flutter"><img src="../../../assets/img/flutterx30.png"></button>
                      </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
      <div class="cardL">
          <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center pb-2">Portfolio</h4>
                <p class="pt-3 ml-3">
                  <a aria-label="blogspot" matTooltip="Open" href="http://exevenezia.blogspot.com/" target="_blank" mat-raised-button color="primary">www.whatdays.is</a>
                  <span class="badge badge-info ml-5">2018</span>
                </p>
                <mat-divider></mat-divider>
                <p class="pt-3 ml-3">
                    <a aria-label="blogspot" matTooltip="Open" href="http://exevenezia.blogspot.com/" target="_blank" mat-raised-button color="primary">www.whatdays.is</a>
                    <span class="badge badge-info ml-5">2018</span>
                  </p>
                  <mat-divider></mat-divider>
                  <p class="pt-3 ml-3">
                      <a aria-label="blogspot" matTooltip="Open" href="http://exevenezia.blogspot.com/" target="_blank" mat-raised-button color="primary">www.whatdays.is</a>
                      <span class="badge badge-info ml-5">2018</span>
                    </p>
                    <mat-divider></mat-divider>
                <div class="p-3">
                    <a routerLink="/portfolio" mat-raised-button color="accent">VER MAS...</a>
                </div>
            </div>
          </div>
      </div>
  </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
          <div class="history">
            <div class="card">
              <div class="card-body pt-xl-4">
                    <h5>
                      Soy un <span class="textP">Desarrollador Web</span> autodidacta y apasionado me comprometo con los retos que se me presentan.
                    </h5>
                    <p>Ya de muy joven que estoy involucrado en área <span class="textP">IT</span>, armando y arreglando PC’s, trabajando como técnico en redes, minando criptomonedas, venta de hardware, etc. Pero siempre me intereso y me gusto programar, desde las clases de informática en la secundaria, y hace 5 años aprox. realice cursos de <span class="textP">Diseño Web (HTML, CSS, JS)</span> y un curso de desarrollo de APP de PHONEGAP. Donde hice un <span class="textP">Blog</span> <a class="pl-1" aria-label="blogspot" matTooltip="Open" href="http://exevenezia.blogspot.com/" target="_blank"><img src="../../../assets/img/bloggerx30.png"></a> y un <span class="textP">Github</span> <a class="pl-1" aria-label="github" matTooltip="Open" href="https://github.com/exevenezia" target="_blank"><img src="../../../assets/img/githubx30.png"></a> para subir códigos cortos.
                    </p>
                    <p>Estos últimos años aparte de trabajar como administrativo en una empresa, realizaba <span class="textP">Web como Freelance</span> y mientras tanto no pare de estudiar, capacitándome de forma online en cursos como Udemy, innumerables videos de YouTube, donde aprendí nuevas técnicas de HTML5, CS3, JS, Mysql y el famoso <span class="textP">Full MEAN (MongoDB, ExpressJS, Angular y NodeJS).</span></p>
                    <p>Actualmente sigo trabajando como <span class="textP">Freelance</span>, haciendo realidad los proyectos e ideas de mis clientes, y esperando nuevos <span class="textP">RETOS</span>, para seguir creciendo como profesional!</p>
              </div>
            </div>
          </div>
      </div>
      <!--<div class="col-lg-6">      
        <div class="perfil">
          <div class="card">
            <div class="card-body">
                <a class="twitter-timeline" data-chrome="noheader nofooter" data-lang="es" data-height="300" href="https://twitter.com/PhilSauz?ref_src=twsrc%5Etfw">Tweets by PhilSauz</a>
              </div>
            </div>
          </div>
        </div>-->
    </div>
  </div>