
<div id="particles-js"></div>

<app-navigation></app-navigation>

<router-outlet></router-outlet>


<div class="container pt-3">
  <footer class="footer">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="text-center">
        <button mat-button matTooltip="@" aria-label="button html"><img src="../../../assets/img/instax30.png"></button>
        <button mat-button matTooltip="@" aria-label="button html"><img src="../../../assets/img/githubbx30.png"></button>
        <button mat-button matTooltip="xxx" aria-label="button html"><img src="../../../assets/img/lnx30.png"></button>
        - <button mat-button matTooltip="xxx" aria-label="button html"><img src="../../../assets/img/lnx30.png"></button>
      </div>
      </div>
    </div>
  </footer>
</div>



