<!-- START navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" mat-raised-button color="primary" routerLink="/">VeneziaDev</a>
 
    <mat-radio-group aria-label="Idioma" class="idioma ml-lg-5">
        <mat-radio-button class="ml-3" [ngClass]="{'active': activeLang == 'es'}" (click)="cambiarLenguaje('es')" checked=true value="1"><b>ES</b></mat-radio-button>
        <mat-radio-button class="ml-3" [ngClass]="{'active': activeLang == 'en'}" (click)="cambiarLenguaje('en')" value="2"><b>EN</b></mat-radio-button>
    </mat-radio-group>

   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item p-2">
          <a class="nav-link" mat-raised-button color="primary" routerLink="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" mat-raised-button color="accent" routerLink="/contact">{{ 'page.contacto' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <!-- END navbar 

    
  
<div class="container pt-3">
  <div class="contenedor">
    <h1>{{ 'principal.texto' | translate }}</h1>
    <div class="contenedor-botones">
      <button [ngClass]="{'active': activeLang == 'es'}" (click)="cambiarLenguaje('es')" mat-raised-button color="accent">Español</button>
      <button [ngClass]="{'active': activeLang == 'en'}" (click)="cambiarLenguaje('en')"  mat-raised-button color="accent">Inglés</button>
    </div>
  </div>

</div>-->
